In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("apple_products.csv")

In [4]:
df.head()

,Product Name,Product URL,Brand,Sale Price,Mrp,Discount Percentage,Number Of Ratings,Number Of Reviews,Upc,Star Rating,Ram
0,"APPLE iPhone 8 Plus (Gold, 64 GB)",https://www.flipkart.com/apple-iphone-8-plus-g...,Apple,49900,49900,0,3431,356,MOBEXRGV7EHHTGUH,4.6,2 GB
1,"APPLE iPhone 8 Plus (Space Grey, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,0,3431,356,MOBEXRGVAC6TJT4F,4.6,2 GB
2,"APPLE iPhone 8 Plus (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,0,3431,356,MOBEXRGVGETABXWZ,4.6,2 GB
3,"APPLE iPhone 8 (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-silver...,Apple,77000,77000,0,11202,794,MOBEXRGVMZWUHCBA,4.5,2 GB
4,"APPLE iPhone 8 (Gold, 256 GB)",https://www.flipkart.com/apple-iphone-8-gold-2...,Apple,77000,77000,0,11202,794,MOBEXRGVPK7PFEJZ,4.5,2 GB

In [5]:
df.count()

Product Name           62
Product URL            62
Brand                  62
Sale Price             62
Mrp                    62
Discount Percentage    62
Number Of Ratings      62
Number Of Reviews      62
Upc                    62
Star Rating            62
Ram                    62
dtype: int64

In [8]:
df.columns

Index(['Product Name', 'Product URL', 'Brand', 'Sale Price', 'Mrp',
       'Discount Percentage', 'Number Of Ratings', 'Number Of Reviews', 'Upc',
       'Star Rating', 'Ram'],
      dtype='object')

In [9]:
df.dtypes

Product Name            object
Product URL             object
Brand                   object
Sale Price               int64
Mrp                      int64
Discount Percentage      int64
Number Of Ratings        int64
Number Of Reviews        int64
Upc                     object
Star Rating            float64
Ram                     object
dtype: object

In [10]:
df['Sale Price'].max()

140900

In [11]:
df['Sale Price'].min()

29999

In [14]:
df[df['Sale Price']==140900]

,Product Name,Product URL,Brand,Sale Price,Mrp,Discount Percentage,Number Of Ratings,Number Of Reviews,Upc,Star Rating,Ram
24,"APPLE iPhone 12 Pro (Silver, 512 GB)",https://www.flipkart.com/apple-iphone-12-pro-s...,Apple,140900,149900,6,542,42,MOBFWBYZ5UY6ZBVA,4.5,4 GB
41,"APPLE iPhone 12 Pro (Pacific Blue, 512 GB)",https://www.flipkart.com/apple-iphone-12-pro-p...,Apple,140900,149900,6,545,42,MOBFWBYZTHSXKMGW,4.5,4 GB

In [15]:
df[df['Sale Price']==140900]['Product Name']

24          APPLE iPhone 12 Pro (Silver, 512 GB)
41    APPLE iPhone 12 Pro (Pacific Blue, 512 GB)
Name: Product Name, dtype: object

In [18]:
type(df['Product Name'])

pandas.core.series.Series

In [19]:
#series is basically a column
#when we combine multiple column then it became a data frame

In [20]:
list(df['Product Name'])

['APPLE iPhone 8 Plus (Gold, 64 GB)',
 'APPLE iPhone 8 Plus (Space Grey, 256 GB)',
 'APPLE iPhone 8 Plus (Silver, 256 GB)',
 'APPLE iPhone 8 (Silver, 256 GB)',
 'APPLE iPhone 8 (Gold, 256 GB)',
 'APPLE iPhone 8 Plus (Silver, 64 GB)',
 'APPLE iPhone 8 Plus (Space Grey, 64 GB)',
 'APPLE iPhone 8 (Space Grey, 256 GB)',
 'APPLE iPhone XS Max (Silver, 64 GB)',
 'Apple iPhone XR ((PRODUCT)RED, 128 GB) (Includes EarPods, Power Adapter)',
 'Apple iPhone XR (Black, 64 GB) (Includes EarPods, Power Adapter)',
 'Apple iPhone XR (Coral, 128 GB) (Includes EarPods, Power Adapter)',
 'Apple iPhone XR (Black, 128 GB) (Includes EarPods, Power Adapter)',
 'Apple iPhone XR (White, 128 GB) (Includes EarPods, Power Adapter)',
 'APPLE iPhone 11 Pro Max (Gold, 256 GB)',
 'APPLE iPhone 11 Pro Max (Gold, 64 GB)',
 'APPLE iPhone 11 Pro Max (Midnight Green, 256 GB)',
 'APPLE iPhone 11 Pro Max (Space Grey, 64 GB)',
 'APPLE iPhone 11 Pro (Midnight Green, 64 GB)',
 'APPLE iPhone 11 Pro (Space Grey, 512 GB)',
 'APPLE iPhone 11 Pro Max (Midnight Green, 64 GB)',
 'APPLE iPhone 11 Pro (Midnight Green, 512 GB)',
 'APPLE iPhone 11 Pro (Space Grey, 256 GB)',
 'Apple iPhone SE (White, 256 GB) (Includes EarPods, Power Adapter)',
 'APPLE iPhone 12 Pro (Silver, 512 GB)',
 'APPLE iPhone 12 Pro Max (Pacific Blue, 256 GB)',
 'APPLE iPhone 12 Mini (White, 128 GB)',
 'APPLE iPhone 12 Pro (Graphite, 256 GB)',
 'APPLE iPhone 12 Mini (White, 64 GB)',
 'APPLE iPhone 12 (White, 128 GB)',
 'APPLE iPhone 12 Pro (Graphite, 128 GB)',
 'APPLE iPhone 12 Pro Max (Graphite, 256 GB)',
 'APPLE iPhone 12 Pro Max (Graphite, 128 GB)',
 'APPLE iPhone 12 Mini (Black, 128 GB)',
 'APPLE iPhone 12 Mini (Blue, 128 GB)',
 'APPLE iPhone 12 (Black, 128 GB)',
 'APPLE iPhone 12 (Blue, 128 GB)',
 'APPLE iPhone 12 Pro Max (Silver, 128 GB)',
 'APPLE iPhone 12 Mini (Red, 64 GB)',
 'APPLE iPhone 12 Pro Max (Gold, 128 GB)',
 'APPLE iPhone 12 (Green, 128 GB)',
 'APPLE iPhone 12 Pro (Pacific Blue, 512 GB)',
 'APPLE iPhone 12 (White, 64 GB)',
 'APPLE iPhone 12 (Black, 64 GB)',
 'APPLE iPhone 12 (Red, 128 GB)',
 'APPLE iPhone 12 Mini (Black, 64 GB)',
 'APPLE iPhone 12 Pro (Pacific Blue, 128 GB)',
 'APPLE iPhone 12 Pro Max (Pacific Blue, 128 GB)',
 'APPLE iPhone 12 Pro Max (Silver, 256 GB)',
 'APPLE iPhone 12 Pro Max (Gold, 256 GB)',
 'APPLE iPhone 11 (White, 128 GB)',
 'APPLE iPhone 11 (Red, 128 GB)',
 'APPLE iPhone SE (White, 64 GB)',
 'APPLE iPhone SE (Black, 128 GB)',
 'APPLE iPhone SE (White, 128 GB)',
 'APPLE iPhone SE (Red, 128 GB)',
 'APPLE iPhone 11 (Black, 128 GB)',
 'APPLE iPhone SE (Black, 64 GB)',
 'APPLE iPhone 11 (Purple, 64 GB)',
 'APPLE iPhone 11 (White, 64 GB)',
 'APPLE iPhone 11 (Black, 64 GB)',
 'APPLE iPhone 11 (Red, 64 GB)']

In [21]:
#now we have to take out the iPhone 11 from the list by slicing and indexing
df['Product Name'][0]

'APPLE iPhone 8 Plus (Gold, 64 GB)'

In [23]:
df['Product Name'][0][6:].upper()

'IPHONE 8 PLUS (GOLD, 64 GB)'

In [24]:
df['Product Name'][0][6:15].upper()

'IPHONE 8 '

In [25]:
df['Product Name'][0][6:15].upper().strip()

'IPHONE 8'

In [26]:
len(list(df['Product Name']))

62

In [33]:
IPHONE=[]

In [34]:
for i in range(len(list(df['Product Name']))):
    print(df['Product Name'][i][6:15].upper().strip())
    IPHONE.append(df['Product Name'][i][6:15].upper().strip())

IPHONE 8
IPHONE 8
IPHONE 8
IPHONE 8
IPHONE 8
IPHONE 8
IPHONE 8
IPHONE 8
IPHONE XS
IPHONE XR
IPHONE XR
IPHONE XR
IPHONE XR
IPHONE XR
IPHONE 11
IPHONE 11
IPHONE 11
IPHONE 11
IPHONE 11
IPHONE 11
IPHONE 11
IPHONE 11
IPHONE 11
IPHONE SE
IPHONE 12
IPHONE 12
IPHONE 12
IPHONE 12
IPHONE 12
IPHONE 12
IPHONE 12
IPHONE 12
IPHONE 12
IPHONE 12
IPHONE 12
IPHONE 12
IPHONE 12
IPHONE 12
IPHONE 12
IPHONE 12
IPHONE 12
IPHONE 12
IPHONE 12
IPHONE 12
IPHONE 12
IPHONE 12
IPHONE 12
IPHONE 12
IPHONE 12
IPHONE 12
IPHONE 11
IPHONE 11
IPHONE SE
IPHONE SE
IPHONE SE
IPHONE SE
IPHONE 11
IPHONE SE
IPHONE 11
IPHONE 11
IPHONE 11
IPHONE 11

In [35]:
IPHONE

['IPHONE 8',
 'IPHONE 8',
 'IPHONE 8',
 'IPHONE 8',
 'IPHONE 8',
 'IPHONE 8',
 'IPHONE 8',
 'IPHONE 8',
 'IPHONE XS',
 'IPHONE XR',
 'IPHONE XR',
 'IPHONE XR',
 'IPHONE XR',
 'IPHONE XR',
 'IPHONE 11',
 'IPHONE 11',
 'IPHONE 11',
 'IPHONE 11',
 'IPHONE 11',
 'IPHONE 11',
 'IPHONE 11',
 'IPHONE 11',
 'IPHONE 11',
 'IPHONE SE',
 'IPHONE 12',
 'IPHONE 12',
 'IPHONE 12',
 'IPHONE 12',
 'IPHONE 12',
 'IPHONE 12',
 'IPHONE 12',
 'IPHONE 12',
 'IPHONE 12',
 'IPHONE 12',
 'IPHONE 12',
 'IPHONE 12',
 'IPHONE 12',
 'IPHONE 12',
 'IPHONE 12',
 'IPHONE 12',
 'IPHONE 12',
 'IPHONE 12',
 'IPHONE 12',
 'IPHONE 12',
 'IPHONE 12',
 'IPHONE 12',
 'IPHONE 12',
 'IPHONE 12',
 'IPHONE 12',
 'IPHONE 12',
 'IPHONE 11',
 'IPHONE 11',
 'IPHONE SE',
 'IPHONE SE',
 'IPHONE SE',
 'IPHONE SE',
 'IPHONE 11',
 'IPHONE SE',
 'IPHONE 11',
 'IPHONE 11',
 'IPHONE 11',
 'IPHONE 11']

In [36]:
df['IPHONE']=IPHONE

In [37]:
df

,Product Name,Product URL,Brand,Sale Price,Mrp,Discount Percentage,Number Of Ratings,Number Of Reviews,Upc,Star Rating,Ram,IPHONE
0,"APPLE iPhone 8 Plus (Gold, 64 GB)",https://www.flipkart.com/apple-iphone-8-plus-g...,Apple,49900,49900,0,3431,356,MOBEXRGV7EHHTGUH,4.6,2 GB,IPHONE 8
1,"APPLE iPhone 8 Plus (Space Grey, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,0,3431,356,MOBEXRGVAC6TJT4F,4.6,2 GB,IPHONE 8
2,"APPLE iPhone 8 Plus (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,0,3431,356,MOBEXRGVGETABXWZ,4.6,2 GB,IPHONE 8
3,"APPLE iPhone 8 (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-silver...,Apple,77000,77000,0,11202,794,MOBEXRGVMZWUHCBA,4.5,2 GB,IPHONE 8
4,"APPLE iPhone 8 (Gold, 256 GB)",https://www.flipkart.com/apple-iphone-8-gold-2...,Apple,77000,77000,0,11202,794,MOBEXRGVPK7PFEJZ,4.5,2 GB,IPHONE 8
...,...,...,...,...,...,...,...,...,...,...,...,...
57,"APPLE iPhone SE (Black, 64 GB)",https://www.flipkart.com/apple-iphone-se-black...,Apple,29999,39900,24,95909,8161,MOBFWQ6BR3MK7AUG,4.5,4 GB,IPHONE SE
58,"APPLE iPhone 11 (Purple, 64 GB)",https://www.flipkart.com/apple-iphone-11-purpl...,Apple,46999,54900,14,43470,3331,MOBFWQ6BTFFJKGKE,4.6,4 GB,IPHONE 11
59,"APPLE iPhone 11 (White, 64 GB)",https://www.flipkart.com/apple-iphone-11-white...,Apple,46999,54900,14,43470,3331,MOBFWQ6BVWVEH3XE,4.6,4 GB,IPHONE 11
60,"APPLE iPhone 11 (Black, 64 GB)",https://www.flipkart.com/apple-iphone-11-black...,Apple,46999,54900,14,43470,3331,MOBFWQ6BXGJCEYNY,4.6,4 GB,IPHONE 11
61,"APPLE iPhone 11 (Red, 64 GB)",https://www.flipkart.com/apple-iphone-11-red-6...,Apple,46999,54900,14,43470,3331,MOBFWQ6BYYV3FCU7,4.6,4 GB,IPHONE 11

In [41]:
print("ashwin " * 5)

ashwin ashwin ashwin ashwin ashwin

In [42]:
print(round(3.5))

4

In [43]:
k=[2,3,6,7,8]
l=[5,2,5]

In [44]:
k.append(l)
k

[2, 3, 6, 7, 8, [5, 2, 5]]

In [45]:
k.extend(l)
k

[2, 3, 6, 7, 8, [5, 2, 5], 5, 2, 5]

In [46]:
k={1,2,3}
k.add(4)
print(k)

{1, 2, 3, 4}

In [47]:
k=[1,2,7,8]
k.remove(2)
print(k)

[1, 7, 8]

In [48]:
dict={'a':1,'b':2,'c':3}
for i in dict:
    print(i)

a
b
c

In [51]:
dict={'a':[1,2,3,4],'b':2,'c':3}
for i in dict['a']:
    print(i)

1
2
3
4

In [52]:
def database_columns(*args):
    for arg in args:
        print(arg)
#*args is a dynamic argument

In [53]:
database_columns("name", "age", "height",'asdas', 'aasd')

name
age
height
asdas
aasd